<!DOCTYPE HTML>
<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>Dawn of Somethings - {{ title }}</title>
  <link rel='stylesheet' href='/style.css' />
</head>
<body>
  <header>
    <h1>the Dawn of Somethings</h1>
  </header>
  <nav>
    <a href='{{ prev }}'>&lt;</a>
    <a href='/'>Home</a>
    <a href='/about'>About</a>
    <a href='{{ next }}'>&gt;</a>
  </nav>
  <main>
    {{ content | safe }}
  </main>
  <footer>
    <p>
    {% if page.fileSlug === '' %}
      <a href='https://github.com/gpdowney/Dawn-of-Somethings/blob/main/src/index.md'>
    {% else %}
      <a href='https://github.com/gpdowney/Dawn-of-Somethings/blob/main/src/{{ page.fileSlug }}.md'>
    {% endif %}
    Suggest edits to this page</a> or send a note to <a href='mailto:dawn@gpdetc.org'>dawn@gpdetc.org</a></p>
    <p>All original content licensed under <a rel="license"
    href="https://creativecommons.org/licenses/by-sa/4.0/">
    CC BY-SA 4.0</a></p>
  </footer>
</body>
</html>
