@font-face {
  font-family: "Nabla";
  src: url("/dawn/fonts/Nabla-Regular.ttf") format("truetype");
  display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/dawn/fonts/Raleway-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Domine";
  src: url("/dawn/fonts/Domine-VariableFont_wght.ttf") format("truetype");
}
* {
  background-color: #222;
  color: #fff;
  box-sizing: border-box;
  scroll-margin-top: 2em;
}

a {
  color: #fab574;
  text-decoration: underline dotted;
}

a:hover {
  transition: color 500ms ease-in-out;
  color: #fda0fd;
}

main {
  font-family: Raleway, sans-serif;
  padding: 0 3rem;
  font-size: 1.5rem;
  font-weight: 400;
}

main > h1, h2, h3 {
  font-family: Domine, serf;
}

header, nav {
  display: flex;
  justify-content: space-evenly;
  font-size: 2rem;
}

header {
  margin: -1.5rem 0;
  padding: 0 3rem;
  font-family: Nabla, Domine, serif;
}

header > h1 > a {
  text-decoration: none;
}

nav {
  position: sticky;
  top: 0;
  font-family: Nabla, monospace;
}

nav > a {
  border: solid #222 1px;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
}

nav > a:hover {
  transition: border 500ms ease-in-out;
  border: solid #fda0fd 1px;
}

footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  background: #222;
  font-family: Raleway, sans-serif;
  text-align: center;
  padding: 0.5rem;
}

blockquote {
  padding: 0 1rem;
  border-inline-start: solid #ccc 5px;
}

table, td {
  border: 1px dotted #ccc;
  border-collapse: collapse;
}

td, th {
  padding: 0.5rem 2rem;
}

.toc + ul > li {
  list-style: "";
  font-weight: 600;
  margin: 1rem 0;
}

.toc + ul > li > ul {
  list-style: "+  ";
  font-weight: 400;
}
